h3 {
    color: white;
}

.table {
    border: 1px solid #ccc;
}

tbody {
    cursor: pointer;
}

td {
    font-size: 14px;
    text-align: center;
}

th {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0px;
    text-align: center;
}