<app-header></app-header>
<div class="container mb-4">
    <div class="row mt-5">
        <h1 *ngIf="agregar" class="text-white col-10">Nuevo comunicado</h1>
        <h1 *ngIf="!agregar" class="text-white col-10">Actualizar {{this.comunicadoForm.value.titulo}}</h1>
        <div class="col-lg-2">
            <button class="btn btn-danger col-lg-12" routerLink="/MisComun">
                <i class="bi bi-arrow-left-circle-fill"></i>
                Regresar
            </button>
        </div>
    </div>
</div>

<div class=" animated fadeIn faster container contenedor">
    <div class="col-12">

        <div *ngIf="this.spinner" class="container mt-3">
            <h3 class="text-white text-center">Espere por favor...</h3>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

        <form *ngIf="!this.spinner" [formGroup]="comunicadoForm" (ngSubmit)="guardar()" class="text-white">

            <div class="row mb-3">
                <div class="col-md-12 pe-4 ps-4 mb-3">
                    <div class="form-group row">
                        <input type="text" class="form-control" placeholder="Titulo de comunicado"
                            formControlName="titulo" name="titulo">
                    </div>
                    <span class="text-danger form-text m-0" *ngIf="getErrores('titulo')">Se requieren minimo 3
                        caracteres</span>
                </div>

                <div class="col-md-6 pe-4 ps-4 mb-3">
                    <div class="form-group row">
                        <input type="date" formControlName="fecha" name="fecha" class="fecha-input">
                    </div>
                    <span class="text-danger form-text m-0" *ngIf="getErrores('fecha')">Este campo es obligatorio</span>
                </div>

                <div class="col-md-6 pe-4 ps-4 mb-3">
                    <div class="form-group row">
                        <select formControlName="quien" name="quien" id="quien" class="form-select w-100"
                            aria-label=".form-select-md example">
                            <option selected>General</option>
                            <option>Personal</option>
                            <option>Festividades</option>
                            <option>Vacaciones</option>
                            <option>Dudas</option>
                            <option>Contrato y reglamento</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-12 pe-4 ps-4 mb-3">
                    <div class="form-group row">
                        <textarea type="input" rows="10" cols="100" class="form-control" formControlName="descripcion"
                            name="descripcion" placeholder="Descripción"></textarea>
                    </div>
                    <span class="text-danger form-text m-0" *ngIf="getErrores('descripcion')">Se requiere minimo 10
                        caracteres</span>
                </div>


                <div *ngIf="this.agregar == false && this.comunicado.imagenes" class="col-md-12 mb-3">
                    <div class="overflow-auto d-flex d-inline-flex align-items-center w-100" style="height: 180px;">
                        <picture *ngFor="let img of this.comunicado.imagenes; let i = index"
                            class="col-2 me-2 mt-2 position-relative">
                            <span [id]="i" (click)="eliminarImgGuardada(i)"
                                class="boton-eliminar position-absolute top-0 end-0"
                                style="cursor: pointer; margin-top: -15px;"><i
                                    class="bi bi-x-circle-fill fs-4"></i></span>
                            <img [src]=img class="w-100 imagenes rounded border border-4 border-white"
                                alt={{this.comunicado.titulo}} style="max-height: 150px">
                        </picture>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 mb-3 mt-1">
                        <button type="button" id="botonAnadirImg" class="btn btn-primary w-100"
                            (click)="abrirImagenes()">Añadir
                            imagen</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mb-3" style="position: relative;"
                        [ngStyle]="this.abrirCerrar ? {'display': 'block'} : {'display':'none'}">
                        <button type="button" class="btn-close btn-close-white text-warning mt-2 me-4"
                            (click)="cerrarImagenes()" style="position: absolute; top: 0; right: 0; z-index: 10;"
                            aria-label="Close"></button>
                        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                            <ngx-dropzone-label>
                                <div>
                                    <h4 style="z-index: 0;" class="text-warning">Arrastre sus archivos para subirlos
                                    </h4>
                                    <i class="bi bi-cloud-upload-fill text-warning fs-2 "></i>
                                    <p class="form-text text-warning">Tamaño máximo por imágen: 1MB</p>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview class="imgPreview" ngProjectAs="ngx-dropzone-preview"
                                *ngFor="let f of filesDropZone" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-image-preview>
                        </div>
                    </div>
                </div>


                <div *ngIf="booleanTieneFile == true" class="row mb-2">
                    <div class="col-10 pe-0">
                        <input type="text" class="form-control" name="archivoAuxiliar" id="formArchivoAuxiliar"
                            formControlName="archivo">
                    </div>
                    <div class="col-2">
                        <a href={{comunicado.archivo}} class="btn btn-primary" target="_blank"><i class="bi bi-link">
                            </i></a>
                        <button type="button" (click)="borrarArchivo()" class="btn btn-danger ms-3"><i
                                class="bi bi-trash-fill"></i></button>
                    </div>
                </div>

                <div *ngIf="(!this.booleanTieneFile && this.agregar) || (!this.booleanTieneFile && !this.agregar)"
                    class="col-md-12 pe-4 ps-4 mb-3">
                    <div class="form-group row">
                        <label for="formFile" class="form-label">Agregar archivo</label>
                        <input class="form-control" type="file" id="formFile" (change)="onfileArchivo($event)"
                            formControlName="archivo"
                            accept=".pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                        <p class="form-text text-white">Tamaño máximo 3MB</p>
                    </div>
                </div>

            </div>
            <!-- <hr> -->

            <div class="row" style="display: flex; justify-content:center;">
                <div class="text-center col-md-4">
                    <button *ngIf="this.agregar" type="submit" class="btn btn-primary btn-lg w-100">
                        <i class="bi bi-save"></i>
                        Guardar
                    </button>
                    <button *ngIf="!agregar" type="submit" class="btn btn-primary btn-lg w-100">
                        <i class="bi bi-save "></i>
                        Actualizar
                    </button>
                </div>
            </div>


        </form>


    </div>
</div>



<app-footer></app-footer>