table {
    width: 100%;
    border: 1px solid #fff;
}

.btn {
    cursor: auto;
}

th {
    background: #242424;
    color: #fff;
    font-size: 18px;
}

td {
    border-bottom: 1px solid #242424;
    color: #000;
}

thead th {
    padding: 20px;
}

tbody {
    background: #fff;
}

.mg-t {
    width: 98%;
    margin: auto;
    border: 1px solid #fff;
}

.span-comentario {
    background: #FCC42C;
    font-size: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 3px;
}

@media (max-width:700px) {
    th {
        font-size: 11px;
    }
    td {
        font-size: 11px;
    }
    thead th {
        padding: 5px;
    }
    tbody td {
        padding: 5px;
    }
    td {
        padding: 5px;
    }
    .btn {
        font-size: 11px;
        line-height: 1;
        margin-right: 15px;
    }
    .span-comentario {
        font-size: 11px;
        background: white;
    }
    .text-r {
        margin-right: 15px;
    }
}