<nav *ngIf="this.local !== 'x'" class="navbar /*fixed-top*/ navbar-expand-lg navbar-dark /*bg-dark*/ navHome">
    <div class="container container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active">
            <!-- <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" style="font-size: 35px; margin-bottom: 20px; margin-top: 20px; font-weight: 700;">
            ErickCM -->
            <img src="../../../assets/imagenes/login/logo-mercadology-blanco.png" alt="Logo mercadology" width="200" height="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a [routerLink]="['/eventos']" routerLinkActive="router-link-active" class="nav-link" aria-current="page"><i class="bi bi-calendar-date" style="margin-right: 5px;"></i>Eventos</a>
                </li>
                <li class="nav-item" *ngIf="(this.rol === '234567' && this.depto === 'Diseño' && this.puesto == 'Manager') || this.rol === '12345'">
                    <a [routerLink]="['/peticiones']" routerLinkActive="router-link-active" class="nav-link" aria-current="page"><i class="bi bi-file-earmark-text" style="margin-right: 5px;"></i>Peticiones</a>
                </li>
                <li class="nav-item">
                    <!-- <a routerLinkActive="router-link-active" class="nav-link" href="https://gestion.mercadology.mx/MercadologyAnalytics.html" aria-current="page">SEO</a> -->
                    <a routerLinkActive="router-link-active" class="nav-link" href="/MercadologyAnalytics.html" aria-current="page"><i class="bi bi-bar-chart-line" style="margin-right: 5px;"></i>SEO</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/comunicados']" routerLinkActive="router-link-active" class="nav-link" aria-current="page"><i class="bi bi-newspaper" style="margin-right: 5px;"></i>Comunicados</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-pie-chart-fill" style="margin-right: 5px;"></i>Gestión
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li *ngIf="this.rol === '12345'"><a [routerLink]="['/usuarios']" routerLinkActive="router-link-active" class="dropdown-item" aria-current="page"><i class="bi bi-people-fill" style="margin-right: 5px;"></i>Usuarios</a></li>
                        <li><a [routerLink]="['/cuentas']" routerLinkActive="router-link-active" class="dropdown-item" aria-current="page"><i class="bi bi-person-lines-fill" style="margin-right: 5px;"></i>Cuentas</a></li>
                        <li><a [routerLink]="['/minutas']" routerLinkActive="router-link-active" class="dropdown-item" aria-current="page"><i class="bi bi-file-earmark-ruled-fill" style="margin-right: 5px;"></i>Minutas</a></li>
                        <li *ngIf="this.rol === '12345' || this.puesto == 'Manager' || this.puesto == 'Director'"><a [routerLink]="['/calendario']" routerLinkActive="router-link-active" class="dropdown-item" aria-current="page"><i class="bi bi-calendar-date" style="margin-right: 5px;"></i>Calendario</a></li>
                        <li *ngIf="this.rol === '12345' || this.puesto == 'Manager' || this.puesto == 'Director'"><a [routerLink]="['/MisComun']" routerLinkActive="router-link-active" class="dropdown-item" aria-current="page"><i class="bi bi-chat-dots" style="margin-right: 5px;"></i>Comunicado</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-card-text" style="margin-right: 5px;"></i>Mi cuenta
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a [routerLink]="['/perfil', this.id]" routerLinkActive="router-link-active" (click)="guardarLocal('propio')" class="dropdown-item" aria-current="page"><i class="bi bi-file-person" style="margin-right: 5px;"></i>Perfil</a></li>
                        <li><a [routerLink]="['/accesos']" routerLinkActive="router-link-active" class="dropdown-item" aria-current="page"><i class="bi bi-text-indent-left" style="margin-right: 5px;"></i>Accesos</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a (click)="salir()" tabindex="-1" class="nav-link"><i class="bi bi-box-arrow-right" style="margin-right: 5px;"></i>Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>