#headerta {
    margin: auto;
}

.right {
    width: 60%;
    margin-left: 45%;
}

#comuniicado {
    box-shadow: 12px 12px 2px 1px #1c1c1c;
}

tr.mat-header-row {
    height: 0px !important;
    text-transform: uppercase;
    font-size: 20px;
}

#btncomun {
    margin-left: 32px !important;
    margin-bottom: 20px !important;
    background: #FCC42C !important;
    float: right;
    padding: 5px 40px;
    font-weight: 700;
    font-size: 20px;
}

.comun {
    font-size: 12px;
    line-height: 0em;
}

.tit {
    padding-top: 10px;
    font-size: 30px;
}

.asunt {
    font-size: 18px;
}

.descp {
    font-size: 15px;
}

.arch {
    color: red;
}

.arch:link {
    text-decoration: none!important;
}

.date {
    float: right;
    border-bottom: .5px solid #000;
}

.mat-paginator-range-label {
    display: none !important;
}

h1 {
    color: #fff;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 40px;
}

#sea {
    float: left;
}

#cat {
    float: right;
}

.img-cs {
    width: 120px;
    height: 120px;
    border-radius: 200px;
    margin: 0;
}

.table-responsive {
    background: #FCC42C;
    border: none;
}

.cont-table-cs {
    background: #242424;
    height: auto;
    font-family: "Poppins";
}

.cont-cat {
    width: 150px;
}

.contenedor-img-cs {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 70px;
    align-items: center;
    margin: auto;
}

.cont-des {
    background: #fff;
    padding: 10px 20px;
}

.texto-titulo {
    font-weight: 700;
}

.texto-descripcion {
    text-align: justify;
}

.categoria {
    margin: 0;
    color: #fff;
    width: 100%;
}

.texto-fecha {
    text-decoration: underline;
}

th {
    display: none;
}

tr,
td {
    margin: 20px 0;
    border-bottom: 5px solid #242424;
}

table {
    width: 100%;
}

@media(min-width:320px) {
    #headerta {
        max-width: 100% !important;
        padding-top: 15px;
    }
    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
        width: 30% !important;
    }
    h1 {
        text-align: center;
    }
    #btncomun {
        margin-left: 0px !important;
    }
    .date {
        float: left;
    }
}

@media(min-width:375px) {
    #headerta {
        max-width: 100%;
        padding-top: 15px;
    }
    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
        width: 23% !important;
    }
    h1 {
        text-align: center;
    }
    #btncomun {
        margin-left: 0px !important;
    }
    .date {
        float: left;
    }
}

@media(min-width:414px) {
    #headerta {
        max-width: 100%;
        padding-top: 15px;
    }
    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
        width: 20% !important;
    }
    #btncomun {
        margin-left: 0px !important;
    }
}

@media(min-width:768px) {
    #headerta {
        max-width: 100%;
        padding-top: 15px;
    }
    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
        width: 20% !important;
    }
    .date {
        float: left;
    }
}

@media(min-width:1024px) {
    h1 {
        font-size: 40px;
    }
    #headerta {
        max-width: 49% !important;
        padding-top: 15px;
    }
}

@media(min-width:1120px) {
    #headerta {
        max-width: 49% !important;
        padding-top: 15px;
    }
}

@media(min-width:1200px) {
    #headerta {
        max-width: 49% !important;
        padding-top: 15px;
    }
}