<app-header>

</app-header>
<div class="container encabezado">
    <div class="row mt-4">
        <h1 class="text-white col-12">Comunicados Mercadology</h1>
    </div>
</div>

<div class="container col-12">
    <div class=" col-12">
        <form class="col-md-5" id="cat" action="" #f="ngForm">
            <label class="text-white mb-2" for="categoria">Filtrar por categoría</label>
            <div class="col d-flex justify-content-between">
                <select name="quien" id="quien" class="form-select w-100" required (change)="onSelect($event)">
                    <option value="comunicado" disabled selected hidden>Selecciona una categoría</option>
                    <option value="General">General</option>
                    <option value="Personal">Personal</option>
                    <option value="Festividades">Festividades</option>
                    <option value="Vacaciones">Vacaciones</option>
                    <option value="Dudas">Dudas</option>
                    <option value="Contrato y reglamento">Contrato y reglamento</option>    
                </select>
            </div>
        </form>
        <div class="col-md-6">
            <label class="text-white mb-2" for="filtro">Busqueda rapida</label>
            <input class="form-control w-100" matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
        </div>
    </div>
    <!--holaaa  -->
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="cont-table-cs" ng-if="categoria.comunicado == 'omar'">

            <!-- Position Column -->
            <ng-container matColumnDef="#" class="cont-cat">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td class="contenedor-img-cs" mat-cell *matCellDef="let element; let i = index">
                    <!-- {{(i+1) + (paginator.pageIndex*paginator.pageSize)}} -->
                    <div>
                        <img src="../../../assets/imagenes/imagenPerfil/merca.jpeg" class="img-cs " alt="imagen usuario">
                    </div>

                    <div>
                        <p class="categoria">{{element.quien}}</p>
                    </div>
                </td>
            </ng-container>

            <!-- Cliente Column -->
            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span cwlass="tite so" style="color: black !important;"> Titulo</span> </th>
                <td mat-cell *matCellDef="let element" class="tite">
                    <!-- <h5 class="texto-titulo">{{element.titulo}}</h5> -->
                </td>
            </ng-container>

            <!-- Dominio Column -->
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black !important;"> Descripcion </th>
                <td mat-cell *matCellDef="let element" class="cont-des">
                    <h5 class="texto-titulo">{{element.titulo}}</h5>
                    <p class="texto-descripcion">{{element.descripcion}}</p>
                    <div *ngIf="element.archivo ">
                        <img [src]="element.archivo[0]">
                        <img [src]="element.archivo[1]">
                        <img [src]="element.archivo[2]">
                        <img [src]="element.archivo[3]">
                    </div>

                    <span class="texto-fecha">Publicado el: {{element.fecha}}</span>

                </td>

            </ng-container>

            <!-- IP Column -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black !important;">Fecha</th>
                <td mat-cell *matCellDef="let element" class="fecha po" style="color: black !important;">
                    <!-- <span class="texto-fecha">Publicado el: {{element.fecha}}</span> -->
                </td>
            </ng-container>

            <!-- Estado Column -->
            <ng-container matColumnDef="quien">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black !important;">Usuario</th>
                <td mat-cell *matCellDef="let element" class="quien po">
                    <!-- <span class="categoria">{{element.quien}}</span>  -->
                </td>
            </ng-container>

            <ng-container style="display: none !important;" matColumnDef="ids">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; color: black !important;"> Opciones </th>
                <!-- <td> {{element.ids}} </td> -->
                <td mat-cell *matCellDef="let element; let i = index" style="display: none !important;" class="opciones" style="padding:0">

                    <!-- *ngIf="this.rol === '12345'"-->
                    <button *ngIf="this.rol === '12345'" class="btn btn-danger ms-3 btn-sm" style="display: none !important; width: 1% !important;" (click)="borrarComunicado( element, (i) + (paginator.pageIndex*paginator.pageSize) ) ">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-light"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No hay datos de acuerdo a la búsqueda "{{input.value}}"</td>
            </tr>

        </table>

    </div>
</div>

<app-footer></app-footer>