<app-header></app-header>
<div class="container mt-2">

    <div class="w-50">
        <h2 class="text-white mb-3">Comunicados</h2>
    </div>
    <div class="w-50 overflow-auto mt-3" style="max-height: 350px;">
        <div *ngFor="let comunicado of this.Comunicado " class="card w-100 mb-3 ">
            <div class="card-body">
                <h4 class="card-title "><strong> {{comunicado.titulo}} </strong></h4>
                <p class="card-text fs-5"><strong>Asunto:</strong> {{comunicado.quien}} </p>
                <p class="card-text fs-6">{{comunicado.descripcion | slice:0:135}} {{comunicado.descripcion.length > 135
                    ? '&hellip;' : '' }}</p>
                <p class="card-text d-flex justify-content-between align-items-center"><small
                        class="text-muted"><strong>Publicado el</strong> {{comunicado.fecha}} </small> <a
                        [routerLink]="[ '/comunicado/view', comunicado.ids ]" class="btn btn-warning">Ver info</a> </p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>