* {
    color: #fff;
}

th {
    background: #fff;
}

a {
    text-decoration: none!important;
}

a:link {
    text-decoration: none!important;
}

.fc .fc-col-header-cell-cushion:link {
    text-decoration: none!important;
}