.img-cs {
    width: 120px;
    height: 120px;
    border-radius: 200px;
    margin-bottom: 10px;
}

.table-responsive {
    background: #FCC42C;
    border: none;
}

.cont-table-cs {
    background: #242424;
    height: auto;
    font-family: "Poppins";
}

.contenedor-img-cs {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.cont-des {
    background: #fff;
    padding: 10px 20px;
}

.texto-titulo {
    font-weight: 700;
}

.texto-descripcion {
    text-align: justify;
}

.categoria {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}

.texto-fecha {
    text-decoration: underline;
}

th {
    display: none;
}

tr,
td {
    margin: 20px;
    border-bottom: 5px solid #242424;
}