<app-header></app-header>

<main class="container">

    <form [formGroup]="minutaForm" (ngSubmit)="guardar()">

        <div class="row">
            <h2 class="text-white">Datos generales</h2>
            <div class="col-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-fecha">Fecha</span>
                    <input type="date" class="form-control" formControlName="fecha">
                </div>
            </div>

            <div class="col-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-hora">Hora</span>
                    <input type="time" class="form-control" name="hora" id="" formControlName="hora">
                </div>
            </div>

            <div class="col-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-numReunion">N° de reunión</span>
                    <input type="text" class="form-control" name="numReunion" formControlName="noReunion" id="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>

            <div class="col-6">

            </div>
        </div>

    </form>

</main>


<app-footer></app-footer>