@media(max-width:768px){
    .container{
        max-width: 95%!important;
    }

    .input-group > *{
        width: 100%;
        margin-left: 0!important;
    }

    .input-group > button{
        width: 30%;
        justify-content: end;
        margin-left: 70%!important;
    }

    .col-4{
        width: 100%!important;
    }
}