<app-header style="display: block!important;"></app-header>


<main class="container mt-3" style="margin-bottom: 125px;">

    <div class="row mt-5">
        <h1 class="text-white col-md-10">Minuta de reuniones</h1>
        <div class="col-lg-2">
            <button [routerLink]="['/minutas']" routerLinkActive="router-link-active" class="btn btn-danger col-lg-12">
                <i class="bi bi-arrow-left-circle-fill"></i> Regresar
            </button>
        </div>
    </div>

    <div *ngIf="this.spinner" class="container mt-3">
        <h3 class="text-white text-center">Espere por favor...</h3>
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <form *ngIf="!this.spinner" [formGroup]="minutaForm" (ngSubmit)="guardar()">

        <div class="row">
            <h2 class="text-white">Datos generales</h2>
            <div class="col-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-fecha">Fecha</span>
                    <input type="date" class="form-control" name="fecha" id="formFecha" formControlName="fecha">
                </div>
            </div>

            <div class="col-4 mb-3">
                <div class="input-group">
                    <span class="input-group-text" id="basic-hora">Hora</span>
                    <input type="time" class="form-control" name="hora" id="formHora" min="09:00" max="17:59" formControlName="hora">
                </div>
                <p class="text-danger form-text m-0" *ngIf="getErrores('hora')">Solo se permite de 9 hrs a 17:59 hrs</p>
            </div>

            <div class="col-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-numReunion">N° de reunión</span>
                    <input type="text" class="form-control" name="numReunion" formControlName="numReunion"
                        id="formNumReunion" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div [ngClass]="{'col-12 mb-3': this.booleanVer, 'col-4 mb-3': this.booleanEditar || this.booleanAgregar}">
                <h2 class="text-white">Cuenta</h2>
                <select class="form-select form-select-md mb-3" id="formCuenta" name="cuenta"
                     formControlName="cuenta" aria-label=".form-select-md example">
                    <option selected>Cinthya García</option>
                    <option>Dos Arroyos</option>
                    <option>Endocéntrica</option>
                    <option>Empleos Qro</option>
                    <option>Euroventyc</option>
                    <option>Global Staffing</option>
                    <option>KOM</option>
                    <option>Namaco</option>
                    <option>Nomenex</option>
                    <option>Noticias Querétaro</option>
                    <option>Marmo</option>
                    <option>Odontología Proactiva</option>
                    <option>Olivera Logistics</option>
                    <option>Palconsulting</option>
                    <option>Paola Soto</option>
                    <option>PureWater</option>
                    <option>Proactiva</option>
                    <option>Rohe</option>
                    <option>Viva Casas</option>
                </select>
            </div>

            <div *ngIf="!this.booleanVer" class="col-8 mb-3">
                <h2 class="text-white">Asistentes</h2>
                <div class="input-group">

                    <span class="input-group-text">Nombre </span>
                    <input class="form-control" [formControl]="nuevoAsistente" placeholder="Agregar nuevo asistente">
                    <button class="btn btn-outline-primary ms-2" type="button" (click)="agregarAsistente()">
                        Agregar
                    </button>
                </div>
                <p *ngIf="!this.booleanNAsistente" class="text-danger form-text m-0">Debe contener 3 o más
                    caracteres</p>
                <p class="text-danger form-text m-0" *ngIf="getErrores('asistentes')">Este campo es obligatorio</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12" formArrayName="asistentes">
                <div class="input-group mb-3" *ngFor="let asistente of asistentesArr.controls; let i = index">

                    <span class="input-group-text">Asistente N° {{i+1}}</span>
                    <input class="form-control" [formControlName]="i" [readonly]="this.booleanVer">

                    <button *ngIf="!this.booleanVer" class="btn btn-outline-danger ms-2" type="button"
                        (click)="borrarAsistente(i)">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="text-white">Objetivo</h2>
                <textarea class="form-control" name="objetivo" formControlName="objetivo" id="formObjetivo"
                    placeholder="Describa el objetivo principal de la reunión"></textarea>
                <span class="form-text text-danger" *ngIf="getErrores('objetivo')">Objetivo debe contener 10 o más
                    caracteres</span>
            </div>
        </div>


        <div class="row mb-3">
            <h2 class="text-white">Pendientes y conclusiones de la reunión</h2>
            <div *ngIf="!this.booleanVer" class="input-group" [formGroup]="nuevoPendienteForm">

                <input type="text" class="form-control" name="hecho" id="formHecho" placeholder="¿Qué se debe hacer?"
                    formControlName="hecho">

                <input type="text" class="form-control ms-2" name="responsable" id="formHResponsable"
                    placeholder="Responsable" formControlName="responsable">

                <input type="text" class="form-control ms-2" name="estimado" id="formEstimado"
                    placeholder="Tiempo estimado" formControlName="estimado">

                <select class="form-select form-select-md ms-2" id="formEstado" name="estado"
                     formControlName="estado" aria-label=".form-select-md example">
                   <option selected>Pendiente</option>
                   <option>Completado</option>
               </select>

                <button class="btn btn-outline-primary ms-2" type="button" (click)="agregarPendiente()">
                    Agregar
                </button>
            </div>
                <span *ngIf="getErroresPendientes('hecho')" class="text-danger form-text w-100" >Debe contener mínimo 10 caracteres</span>
                <span *ngIf="getErroresPendientes('responsable')" class="text-danger form-text w-100" >Responsable debe contener mínimo 3 caracteres</span>
                <span *ngIf="getErroresPendientes('estimado')" class="text-danger form-text w-100" >El tiempo estimado debe contener mínimo 3 caracteres</span>
            <span class="text-danger form-text" *ngIf="getErrores('pendientes')">Estos campos son
                obligatorios</span>
        </div>

        <div class="row">
            <div class="col-12" formArrayName="pendientes">
                <div class="input-group mb-3" *ngFor="let pendiente of pendientesArr.controls; let i = index"
                    [formGroupName]="i">

                    <span class="input-group-text">{{i+1}} </span>
                    <input type="text" class="form-control" name="hecho" placeholder="¿Qué se debe hacer?"
                        formControlName="hecho" [readonly]="this.booleanVer">

                    <input type="text" class="form-control ms-2" name="responsable" placeholder="Responsble"
                        formControlName="responsable" [readonly]="this.booleanVer">

                    <input type="text" class="form-control ms-2" name="estimado" placeholder="Tiempo estimado"
                        formControlName="estimado" [readonly]="this.booleanVer">

                    <input *ngIf="this.booleanVer" type="text" class="form-control ms-2" name="estado" placeholder="Pendiente"
                        formControlName="estado" [readonly]="this.booleanVer">

                    <select *ngIf="this.booleanEditar" class="form-select form-select-md ms-2" id="formEstado" name="estado"
                        formControlName="estado" aria-label=".form-select-md example">
                      <option selected>Pendiente</option>
                      <option>Completado</option>
                    </select>

                    <button *ngIf="!this.booleanVer" class="btn btn-outline-danger ms-2" type="button"
                        (click)="borrarPendiente(i)">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <h2 class="text-white">Datos puntuales</h2>
            <div class="col-4 mb-3">
                <div class="input-group">
                    <span class="input-group-text">Próx. reunión</span>
                    <input type="datetime-local" class="form-control" name="proxReunion" id="formProxReunion"
                        formControlName="proxReunion">
                </div>
                <span class="text-danger form-text" *ngIf="getErrores('proxReunion')">Debe proporcionar una
                    fecha</span>
            </div>

            <div class="col-4 mb-3">
                <div class="input-group">
                    <span class="input-group-text">Elaboró</span>
                    <input type="text" class="form-control" name="elaboro" id="formElaboro" formControlName="elaboro"
                        placeholder="Nombre de quien elabora">
                </div>
                <span class="text-danger form-text" *ngIf="getErrores('elaboro')">Debe contener 3 o más
                    caracteres</span>
            </div>

            <div class="col-4 mb-3">
                <div class="input-group">
                    <span class="input-group-text">Autorizó</span>
                    <input type="text" class="form-control" name="autorizo" formControlName="autorizo" id="formAutorizo"
                        placeholder="Nombre de quien autoriza">
                </div>
                <span class="text-danger form-text" *ngIf="getErrores('autorizo')">Debe contener 3 o más
                    caracteres</span>
            </div>
        </div>

        <div class="row">
            <div *ngIf="booleanTieneFile == true" class="row mb-2 ">
                <div class="col-9 pe-0">
                    <input type="text" class="form-control" name="archivoAuxiliar" id="formArchivoAuxiliar"
                        formControlName="archivo">
                </div>
                <div class="col-2 d-flex">
                    <a href={{minutaModel.archivo}} class="btn btn-primary" target="_blank"><i class="bi bi-link">
                        </i></a>
                    <button *ngIf="(this.booleanTieneFile && this.booleanEditar)" type="button" (click)="borrarArchivo()" class="btn btn-danger ms-2"><i
                            class="bi bi-trash-fill"></i></button>
                </div>
            </div>

            <div *ngIf="(!this.booleanTieneFile && this.booleanAgregar) || (!this.booleanTieneFile && this.booleanEditar)"
                class="col-md-12 pe-4 ps-4 mb-3">
                <div class="form-group row">
                    <label for="formFile" class="form-label">Agregar archivo</label>
                    <input class="form-control" type="file" id="formFile" (change)="onfileArchivo($event)"
                        formControlName="archivo"
                        accept=".pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                    <p class="form-text text-white">Tamaño máximo 3MB</p>
                </div>
            </div>
        </div>

        <div *ngIf="!this.booleanVer && !this.booleanEditar" class="mt-2 row justify-content-evenly">
            <button type="submit" class="btn btn-primary btn-lg col-4 mb-3"><i class="bi bi-save"></i>
                Guardar</button>
            <button type="button" (click)="guardar()" (click)="this.booleanGenerarPDF = true"
                class="btn btn-primary btn-lg col-4 mb-3"><i class="bi bi-save"></i> Guardar y crear PDF</button>
        </div>

        <div *ngIf="this.booleanEditar" class="mt-2 row justify-content-evenly">
            <button type="button" (click)="editar()" class="btn btn-primary btn-lg col-4 mb-3"><i
                    class="bi bi-save"></i> Guardar</button>
            <button type="button" (click)="editar()" (click)="this.booleanGenerarPDF = true"
                class="btn btn-primary btn-lg col-4 mb-3"><i class="bi bi-save"></i> Guardar y crear PDF</button>
        </div>

        <div *ngIf="this.booleanVer" class="mt-2 row justify-content-center">
            <button type="button" (click)="crearPDF(this.minutaModel)" class="btn btn-primary btn-lg col-4 mb-3"><i
                    class="bi bi-save"></i> Generar PDF</button>
        </div>

    </form>

</main>
<app-footer></app-footer>